@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
a {
    color: $brand-primary;
}
a:hover {
    color: darken($brand-primary, 5%);
    text-decoration: overline;
}
.btn, .btn-large {
    background-color: $brand-primary;
}
.btn:hover, .btn-large:hover {
    color: $hell-blau;
    background-color: darken($brand-primary, 10%);
}
button:focus, .btn:focus, .btn-large:focus {
    background-color: lighten($brand-primary, 5%);
}
[type="checkbox"]:checked + label:before {
    border-bottom: 2px solid $brand-primary;
    border-right: 2px solid $brand-primary;
}
.filled-in[type="checkbox"] + label:before{
    border: 2px solid $brand-primary;
    background: transparent;
}
.filled-in[type="checkbox"]:checked + label:before {
    border: 2px solid #296eaf;
    border-bottom: 2px solid $brand-primary;
    border-right: 2px solid $brand-primary;
    background: transparent;
}
.filled-in[type="checkbox"] + label:after {
    border: 2px solid $brand-primary;
    background: transparent;
}
.filled-in[type="checkbox"]:checked + label:after {
    background: $brand-primary;
}
.filled-in[type="checkbox"]:checked + label:before {
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
[type="checkbox"].filled-in:checked + label:after {
    border: 2px solid $brand-primary;
    background-color: $brand-primary;
}
.mb1rem {
    margin-bottom: $space;
}
.linkitem .row {
    margin-bottom: 5px;
}
.linkitem .btn {
    margin-right: $space;
}
@media (max-width:623px) {
    .linkitem .btn {
        margin-bottom: $space;
        width: 100%;
    }
}
